CompileFlags:
  CompilationDatabase: Build/Release/
  Add:
    - -std=c++20
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wno-unused-parameter
  Compiler: clang++

Diagnostics:
  ClangTidy:
    Add:
      - modernize-*
      - performance-*
      - readability-*
      - bugprone-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-identifier-length
      - readability-magic-numbers
  UnusedIncludes: Strict

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true

Hover:
  ShowAKA: true
